.navbar{
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    padding: 20px 50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
}
.nav--list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;  
}
.logo{
    width: 100px;
    height: 60px;
}
.cart-button {
    position: relative;
    min-height: 55px;
    min-width: 55px;
    padding: 13px;
    border-radius: 4px;
    background-color: #35b8be;
    background-image: url(https://uploads-ssl.webflow.com/5e865e0…/5e865e0…_Button%20Wave.svg);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 18px;
    text-align: center;
}
.link{
    text-decoration: none;
}
@media screen and (max-width :900px) {
    .navbar{
        padding:0;
        font-size: 16px;
        font-weight: 100;
        min-height: 60px;
        height: auto;
    }
    .logo{
        display: none;
        
    }
    .cart-button{
        min-height: 30px;
    min-width: 30px;
    }
}